.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  list-style: none;
}

body {
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.row .img {
  width: 20%;
}
.row .img img {
  max-width: 100%;
}
.row .column {
  width: 75%;
}
.row .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 21px;
  width: 10%;
}
.row .description {
  font-size: 15px;
  width: 10%;
}