.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1140px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

label {
  display: block;
  margin: 0 0 4px;
}
.account{
  display: flex;
  text-decoration: none;
  justify-content: center;
  margin-top: 10px;
  color:black;

}
input {
  padding: 10px;
  font-size: 1em;
  width: 330px;
}

input::placeholder {
  font-family: sans-serif;
}


form {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  font-size: 1.2em;
  width: 100%;
  background-color: #338AFF;
  border-radius: 5px;
  border-color: #338AFF;
  color: #fafafa;
}
.form-signin-heading{
  margin-bottom: 10px;
}