<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../../../../../css/dashboardHeader.css">
    <title>Admin-Panel</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
</head>
<body>
<header>
    <div class="container">
        <div class="navbar">
            <ul class="navbar-ul">
                {% for item in menu %}
                    <li class="nav-li">
                        <a class="nav-link" href="{{ item.link }}">
                            <i class="{{ item.icon }}"></i> {{ item.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="right-toolbar">
            {% if loginStatus %}
                <ul>
                    <li>
                        <a href="/logout" class="nav-link">
                            <i class="icon-logout"></i>
                            LogOut
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>

</header>

<main>
    <div class="container">

{#        <h1>#}
{#            <i class="icon-heart icons"></i> Welcome to CMS</h1>#}
        <h1>{{ newUser }} : users waiting for permission</h1>
    </div>
</main>

</body>